<div id="foot" class="col-sm-12">
<footer>
  <div id="about_us" class="col-sm-4">
    <h3>Наши контакты</h3>
    <div class="footer_adress"><i class="glyphicon glyphicon-map-marker"></i>
      <b>Адрес:</b>
      <span>г. Солнечногорск, Lorem ipsum, str.1 </span>
    </div>
    <div class="footer_phones"><i class="glyphicon glyphicon-earphone"></i>
      <b>Телефоны:</b><br>
      <span>+7(999)800-99-88</span><br>
      <span>+7(999)800-99-88</span>
    </div>
    <div class="footer_email"><i class="glyphicon glyphicon-envelope"></i>
      <b>E-mail:</b>
      <a href="mailto:me@expodoors.ru">me@expodoors.ru</a></span>
    </div>

  </div>

    <div id="we_are_here" class="col-sm-4">
    <h3>Схема проезда</h3>
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=_eeJCLE7VcnE0qbnWWHuTkvLYKZPAJFj&width=340&height=220" ></script>
        
    </div>
    
    <div id="mail_our" class="col-sm-4">
    <h3>Обратная связь</h3>
    <%= form_tag("/feedback/send_feedback", method: "post", class: "form-horizontal") do %>
      <div class="form-group">
        <%= label_tag(:name, "Ваше имя", class: "control-label col-sm-2") %>
        <div class="col-sm-10">
          <%= text_field_tag(:name, nil, class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:email, "Ваш email",class: "control-label col-sm-2") %>
        <div class="col-sm-10">
          <%= email_field_tag(:email, nil, class: "form-control col-sm-9") %>
        </div>
      </div>
      <%= text_area_tag "text", nil, placeholder: 'Введите текст обращения', class: "col-sm-12", required: true, rows: 3 %>
      <%= submit_tag "Отправить", class: "btn btn-success pull-right" %>
<% end %>

        </div>
</footer>
    </div>